img {
    width: 200px !important;
    height: 200px !important;
  }
  
  h1{
    text-align: center;
  }
  
  .catcontain{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    justify-content: center;
  }
  
  .wrapper{
    width: 1024px auto;
    padding: 0 auto;
  }
  
  .button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: 750px;
    margin-right: 750px;
    gap: 20px; 
  }
  
  .button button {
    background-color: blue;
    color: #ffff;
    font-size: 15px;
    font-weight: 800;
    border: none;
    padding: 9px;
  }
  
  .button_contain li {
    display: inline-block;
    padding: 10px;
  }
  
  a{
    cursor: pointer;
  }
  
  .active{
    background-color: blue;
    color: #ffff;
  }
  
  ul {
    display: flex;
    justify-content: center;
  }